<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>New Connection</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,100' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/dashboardedit.css">

<style>
	.validationError{
		color:red;
	}
</style>
</head>

<body style="background-color: white">
<!-- Navigation Starts-->
<aside class="side-nav" id="show-side-navigation1"style=" background-color: white" >
	<div class="vl">
		<i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
		<div class="heading"style="background-color: rgb(100,178,77);">
			<img src="images/user.ico" alt="user pic">
			<div class="info">
				<h3 style="color: white">Hi,<a th:href="dashboard"> User</a></h3>
				<p style="color:white">Welcome to your account </p>
			</div>
		</div>
		<ul class="categories">
			<li><i class="fa fa-home fa-fw" style="color:green" aria-hidden="true"></i><a th:href="dashboard"> My account</a>
			</li>
			<li><i class="fa fa-money fa-fw"style="color:green"></i><a th:href="payrecharge"> Payment and Recharge</a>
			</li>
			<li><i class="fa fa-map fa-fw"style="color:green"></i><a th:href="postpaid"> Plans </a>
				<!--<ul class="side-nav-dropdown">
					<li><a th:href="postpaid"style="color:rgba(100,178,77,0.8)">Prepaid Plans</a></li>
					<li><a th:href="postpaid"style="color:rgba(100,178,77,0.8)">Postpaid Plans</a></li>
					<li><a th:href="postpaid"style="color:rgba(100,178,77,0.8)">Dongle Plans</a></li>
				</ul>-->
			</li>
			<li><i class="fa fa-usb fa-fw" style="color:green"></i><a th:href="donglepurchase"> Purchase Dongle</a>
			</li>
			<li><i class="fa fa-pencil fa-fw" style="color:green"></i><a th:href="edit"> Edit Profile</a>
			</li>
			<li><i class="fa fa-users fa-fw" style="color:green"></i><a th:href="newconnection"> New Connection</a>
			</li>
			<li><i class="fa fa-bolt fa-fw" style="color:green"></i><a th:href="index"> Logout</a>
			</li>
		</ul>
	</div>
</aside>
<section id="contents">
	<nav class="navbar navbar-default">
		<div class="container-fluid"style="background-color:rgb(100,178,77);color:white">
			<div class="navbar-header ">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<i class="fa fa-align-right"></i>
				</button>
				<a class="navbar-brand" th:href="dashboard"style="color:white">My<span class="main-color"style="color:white">Dashboard</span></a>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="dashboard"><i class="fa fa-user-o fw"></i> My account</a></li>
							<li><a href="postpaid"><i class="fa fa-map-o fw"></i> Recommended Plans</a></li>
							<li role="separator" class="divider"></li>
							<li><a th:href="index"><i class="fa fa-sign-out"></i> Log out</a></li>
						</ul>
					</li>
					<li><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Navigation Ends-->
<br>
<h3 style="color: green"><center>NEW USER CONNECTION</center></h3>
<br>
<div class="container-fluid" style="background-color: white;margin-top:5%;">


	<div class="col-lg-12 well" style="background-color: white">
		<div class="row" >
			<form method="post" th:action="@{/newconnection}" th:object="${newConnection}">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6 form-group">
							<label></label>
							<input type="text" placeholder="First Name" class="form-control" th:field="*{firstname}">
							<span class="validationError"
								  th:if="${#fields.hasErrors('firstname')}"
								  th:errors="*{firstname}">FULL name</span>
						</div>

						<div class="col-sm-6 form-group">
							<label></label>
							<input type="text" placeholder="Last Name" class="form-control" th:field="*{lastname}">
							<span class="validationError"
								  th:if="${#fields.hasErrors('lastname')}"
								  th:errors="*{lastname}">FULL name</span>
						</div>

					</div>
					<div class="form-group">
						<label></label>
						<textarea placeholder="Address" rows="3" class="form-control" th:field="*{address}"></textarea>
						<span class="validationError"
							  th:if="${#fields.hasErrors('address')}"
							  th:errors="*{address}">FULL name</span>
					</div>


					<div class="row">
						<div class="col-sm-4 form-group">
							<label></label>
							<input type="text" placeholder="Enter City Name Here.." class="form-control" th:field="*{city}">
							<span class="validationError"
								  th:if="${#fields.hasErrors('city')}"
								  th:errors="*{city}">FULL name</span>
						</div>

						<div class="col-sm-4 form-group">
							<label></label>
							<input type="text" placeholder="Enter State Name Here.." class="form-control" th:field="*{state}">
							<span class="validationError"
								  th:if="${#fields.hasErrors('state')}"
								  th:errors="*{state}">FULL name</span>
						</div>

						<div class="col-sm-4 form-group">
							<label></label>
							<input type="text" placeholder="Enter Zip Code Here.." class="form-control"th:field="*{zip}">
							<span class="validationError"
								  th:if="${#fields.hasErrors('zip')}"
								  th:errors="*{zip}">FULL name</span>
						</div>
						<div class="col-sm-12">
							<div>
								<label></label>
								<input type="text" placeholder="Enter Aadhar Number Here.." class="form-control" th:field="*{aadhar}">
								<span class="validationError"
									  th:if="${#fields.hasErrors('aadhar')}"
									  th:errors="*{aadhar}">FULL name</span>
							</div>
							<div>
								<label></label>
								<input type="text" placeholder="Enter Email Address Here.." class="form-control" th:field="*{email}">
								<span class="validationError"
									  th:if="${#fields.hasErrors('email')}"
									  th:errors="*{email}">FULL name</span>
							</div>
							<div>
								<label></label>
								<input type="text" placeholder="mobile no" class="form-control" th:field="*{mobile}">
								<span class="validationError"
									  th:if="${#fields.hasErrors('mobile')}"
									  th:errors="*{mobile}">FULL name</span>
							</div>
						</div>
					</div>
					<br>
					<div style="text-align: center;">
					<button type="submit" class="btn btn-lg btn-success">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</div>
</section>

<script src='//code.jquery.com/jquery-latest.js'></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<script src='css/main.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>
